.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #F0F4F8;
  color: white;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  box-sizing: border-box;
  z-index: 1000;
  overflow: hidden;
}

.navbar .logo a {
  color: black;
  font-size: 1.5rem;
  text-decoration: none;
}

.nav-links {
  display: flex;
  gap: 1.5rem;

  &.mobile {
    flex-direction: column;
    width: 100%;
    background-color: #333;
    padding: 1rem 0;
  }
}

.nav-links a {
  color: black;
  text-decoration: none;
  font-size: 1rem;
  padding: 0.5rem;
  border-radius: 4px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.nav-links a:hover {
  background-color: #747474;
  color: #fff;
}

.nav-links .active {
  background-color: rgb(145, 180, 149);
  color: white;
}

.hamburger {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 24px;
  height: 18px;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 1001;

  span {
    display: block;
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 0;
  }
}

/* Show hamburger only on mobile */
@media (max-width: 768px) {
  .hamburger {
    display: flex;
  }
}
