<section class="about-wrapper">
  <div class="about-row row-left">
    <img src="assets/images/about/about1.webp" alt="James Carley" class="hero-image" />
    <div class="text-block">
      <h1>About Me</h1>
      <p>
        My name is James Carley. I am a Bachelor of Fine Arts (Film) graduate from Queensland University of Technology with hands-on experience across all aspects of filmmaking including directing, cinematography, editing, and screenwriting. Having already worked on professional film shoots both in production and post-production roles throughout my academic career, my passion lies in post-production editing roles, from colour grading to vision editing. Having acquired these skills, I am eager to leverage my academic training and gain hands-on experience within the film industry as a creative practitioner.
      </p>
    </div>
  </div>

  <div class="about-row row-right">
    <div class="text-block">
      <h2>How I Got Into Filmmaking</h2>
      <p>
        In grade nine I was fortunate enough to go to a school that offered film and television as a subject and it became love at first sight. The ability to transcend concepts, themes, and stories formed within my head into a physical, visual format provided me a creative outlet to express myself. For the first time in my life I knew what I wanted to do when I was older. Filmmaking not only allowed me a means of storytelling, but also a plain to convey and express emotions to an audience, whether it be through comedy, drama, or horror.
      </p>
    </div>
    <img src="assets/images/about/action3.webp" alt="On set behind camera" class="hero-image" />
  </div>
</section>

<app-footer></app-footer>
