<div class="home-container">
  <!-- Hero Section -->
  <section class="hero-section">
    <div class="hero-content">
      <h1>Hello, I'm James Buckley</h1>
      <p>
        A passionate filmmaker and storyteller, dedicated to capturing and creating compelling narratives. Let's bring
        your vision to life!
      </p>
    </div>
  </section>

  <!-- Showreel -->
  <div class="showreel">
    <iframe playsinline src="https://www.youtube.com/embed/OxuME20pZUE?autoplay=1&mute=1&rel=0&enablejsapi=1"
      frameborder="0" allow="autoplay; encrypted-media; clipboard-write; gyroscope; picture-in-picture" allowfullscreen>
    </iframe>
  </div>

  <!-- Highlights Section -->
  <section class="highlights-section">
    <a class="highlights-link">
      <h2>Highlights</h2>
    </a>

    <div class="carousel-wrapper">
      <button class="carousel-nav left" (click)="scrollCarousel('left')">&#10094;</button>

      <div class="carousel" #carousel>
        <div class="carousel-item project-card" *ngFor="let project of projects" (click)="navToProject(project.link)">
          <img [src]="project.image" [alt]="project.name" />
          <div class="project-overlay">
            <p>{{ project.name }}</p>
          </div>
        </div>

        <!-- View All Card -->
        <div class="carousel-item view-all-card" (click)="navToGallery()">
          <div class="view-all-content">
            <p>View Full Portfolio</p>
            <span>&#10140;</span>
          </div>
        </div>
      </div>

      <button class="carousel-nav right" (click)="scrollCarousel('right')">&#10095;</button>
    </div>

    <!-- Second View All Link -->
    <div class="view-all-wrapper">
      <a class="view-all-button" (click)="navToGallery()">View All</a>
    </div>
  </section>

  <!-- Color Grading Section -->
  <section class="before-after-section">
    <h2>Colour Grading</h2>

    <div class="grading-grid">
      <app-image-slider [before]="'assets/images/colourgrading/colour_INCAR.png'"
        [after]="'assets/images/colourgrading/colour_INCARCG.png'">
      </app-image-slider>

      <app-image-slider [before]="'assets/images/colourgrading/colour_MS.png'"
        [after]="'assets/images/colourgrading/colour_MSCG.png'">
      </app-image-slider>

      <app-image-slider [before]="'assets/images/colourgrading/colour_SCARY.png'"
        [after]="'assets/images/colourgrading/colour_SCARYCG.png'">
      </app-image-slider>
    </div>
  </section>

  <app-footer></app-footer>
</div>